*{
    margin: 0px;
    padding: 0px;
    color: rgb(36, 34, 34);
}
.fondo1{
    background-image:url(Imagenes/banner.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    background-color: rgba(209, 205, 205, 0.76);
    height: 80px;
}
nav ul{
    list-style-type: none;
    float: right;
    margin: -75px 200px;
}
a{
    display: inline;
    text-decoration: none;
    padding: 15px 50px;
    font-size:x-large;
}
.enlace{
    margin-left: -50px;
}
.user{
    float: right;
    margin-top: -90px ;
    margin-right: 10px;
}
.compras{
    float: right;
    margin-top: -90px ;
    margin-right: 120px;
}

ul a.active,ul :hover{
    background-color: rgba(114, 106, 106, 0.5);
    transition: 2s ;
    border-radius: 10px;
    margin: 30px ;

}