*{
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
   
}
.fondo1{
    background-image:url(Imagenes/banner.jpg);
    height: 633px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    position: fixed;
    background-color: rgba(209, 205, 205, 0.76);
    height: 80px;
    

}
nav ul{
    list-style-type: none;
    float: right;
    margin: -75px 200px;
}
a{
    display: inline;
    text-decoration: none;
    padding: 15px 50px;
    font-size:x-large;
}
.enlace{
    margin-left: -50px;
}
.user{
    float: right;
    margin-top: -90px ;
    margin-right: 10px;
    cursor: pointer;
}
.compras{
    float: right;
    margin-top: -90px ;
    margin-right: 120px;
}

ul a.active,ul :hover{
    background-color: rgba(114, 106, 106, 0.5);
    transition: 2s ;
    border-radius: 10px;
    margin: 30px ;

}
.titulo{
    float: left;
    font-size: 70px;
    color: white;
    margin: 0px 200px;
    margin-top: 100px;


}
.titulo1{
    float: left;
    font-size: 40px;
    color: white;
    padding: 0px 440px;
    margin-top: -20px;
}
.botton{
    background-color: rgba(72, 152, 158, 0.801);
    width: 125px;
    border-radius: 10px;
    float: right;
    margin: -2px 750px;
    text-transform: uppercase;
    cursor: pointer;
}

.botton:hover{
    background-color: rgba(72, 152, 158, 1);
    transition: 0.5s;
}
.conoce{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 20px;

}
.arbol{
    float: right;
    margin-top: -630px;
    margin-right: 100px;


}
.bienvenido{
    margin-left: 30px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 150px;
    margin-right: 950px;
    
}
.fondo2{
    background-color: rgb(250, 244, 240);
    margin-top: -21px;
    margin-bottom: 50px;
    height: 634px;
}
.div1{
    text-align: center;
    box-shadow: #ffa600;
    color: #ffffff;
    font-size: 35px;
}


#lugares{
    display: flex;
    margin-top: 20px;
    padding: 15px;
    margin-left:-10px ;
   

}

.destacados{
    
    background-color: #ddd9d9;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}
.destacados:hover{
    transform:scale(1.01);}


.arvi{
    background-color: #ddd9d9;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}
.arvi:hover{
    transform:scale(1.01);}

.botero{
    background-color: #ddd9d9;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    
}
.botero:hover{
    transform:scale(1.01);}


.div2{
    text-align: center;
    color: #ffffff;
     font-size: 35px;}




#gastronomia{
    display: flex;
    margin-top: 20px;
    padding: 1px;

}

a:link{
    text-decoration: none;
}

.div3{
    color: #d1d4ce;
    text-align: center;
    box-shadow: #ffa600;
    font-size: 35px;
}


#lugares3{
    display: flex;
    margin-top: 20px;
    padding: 15px;
    margin-left:-10px ;
   

}

.destacados3{
    
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}
.destacados3:hover{
    transform:scale(1.01);}


.arvi3{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}
.arvi3:hover{
    transform:scale(1.01);}

.botero3{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    
}
.botero3:hover{
    transform:scale(1.01);}


.div4{
    
        color: #62a321;
        text-align: center;
        box-shadow: #ffa600;
        font-size: 35px;
}

#lugares4{
        display: flex;
        margin-top: 20px;
        padding: 15px;
        margin-left:-10px ;
       
    
}
    
.destacados4{
        
        background-color: #ffffff;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        margin: 15px;
}
.destacados4:hover{
        transform:scale(1.01);}
    
    
.arvi4{
        background-color: #ffffff;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        margin: 15px;
}
.arvi4:hover{
        transform:scale(1.01);}
    
.botero4{
        background-color: #ffffff;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        margin: 15px;
        
}
.botero4:hover{
        transform:scale(1.01);}

.face4{
            background-color: #ffffff;
            text-align: center;
            padding: 15px;
            border-radius: 15px;
            margin: 15px;
            
}
.face4:hover{
        transform:scale(1.01);}

.x4{
            background-color: #ffffff;
            text-align: center;
            padding: 15px;
            border-radius: 15px;
            margin: 15px;
            
}
.x4:hover{
        transform:scale(1.01);}


.fondo3{
            background-image:url(Imagenes/bonsaiiiiiiii.avif);
            height: 700px;
            width: 1880px;
            background-repeat: no-repeat;
            position: relative;
            background-size: cover;
            
        
}
        
.fondo3 article{
            color: white;
            position: absolute;
            top: 20%;
            left: 10%;
            transform: translate(-50px,-50px);
            font-size: 25px;
            
}
        
        
.fondo3 p{
            background-color: darkolivegreen;
            color: white;
            position: absolute;
            top: 2200%;
            left: 46%;
            transform: translate(-50px,-50px);
        
}
        
.fondo3 ol{
            background-color: darkolivegreen;
            position: relative;
            top: 100%;
            left: 10%;
            transform: translate(-50px,-50px);
        
}
        
        
        
        
        
        
.ol:hover{
            color: yellow;
}
        
        
        
        
        
        
        
        
 .fondo3 a{
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
        
.fondo3 h1{
            color: white;
            position: relative;
            top: 50%;
            left: 0%;
            
}
        
.fondo3 h2{color: white;
            position: relative;
            top: 50%;
            left: 230%;
        
}
        
        
.fondo3 i{
            color: black;
            position: relative;
            font-size: 27px;
            top: 100%;
            left: 0%;
            transform: translate(-50px,-50px);}
        
        