body{
    margin: 0%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header{
    background-color: #ffffff;
    font-size: 30px;
    height: 200px;
   
   
}
a{
    text-decoration: none;
    margin: 40px;
    position:relative;
    left: 400px;
    top: 20px;
    color: #000;
}
a:hover{
    color: #ffc400;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

main{
    font-size: 20px;
}



.Bienvenidos{
    text-align: center;
    background-image: url(/html/Imagenes/banner.jpg) ;
    background-repeat: no-repeat;
    height: 500PX;
    width: 100%px;
    font-size: 20px;
    
 
 
   
}

#lugares{
    display: flex;
}

.destacados{
    
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
    width: 30%;
    
}
.destacados:hover{
    transform:scale(1.01);}


.arvi{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
    width: 30%;
}
.arvi:hover{
    transform:scale(1.01);}

.botero{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
    width: 30%;
    
}
.botero:hover{
    transform:scale(1.01);}


.div2{
    text-align: center;
    color: #ffffff;
     font-size: 35px;}




#gastronomia{
    display: flex;
    margin-top: 20px;
    padding: 15px;
    margin-left:-10px ;

}

a:link{
    text-decoration: none;
}



#contacto{
    background-image: url(https://st.depositphotos.com/1000618/2346/i/950/depositphotos_23462984-stock-photo-colombia-flag-on-abstract-wing.jpg);
    background-color: #ffffff;
    border-radius: 25PX;
    text-align: justify;
    width: 93%;
    padding: 30px;
    margin: 20px;
    display: flex;
}

#contacto:hover{
    transform: scale(1.02);
}
.contenido2{
    font-size: 25px;
    text-align: right;
    margin-left: 150px;
    width: 40%;
}

li{
    text-decoration: none;
    margin-bottom: 30px;
}
#nombre{
    width: 50%;
    height: 30px;

}

#email{
    width: 50%;
    height: 30px;

}

#mensaje{
    width: 50%;
    height: 50px;

}
#enviar{
    width: 100px;
    height: 30px;
   background-color: aquamarine;
}
#enviar:hover{
    background-color: #ffa600;
}

#restablecer{
    width: 100px;
    height: 30px;
    background-color: rgb(173, 182, 179);
}
#restablecer:hover{
    background-color: #ffa600;}


.clima{
    background-color: #ebebe7;
    border-radius: 10px;
    width: 50%;
    height: 10px;
    padding: 10px;
 
    
}
.clima:hover{
    background-color: aquamarine;
}

.moneda{
    background-color: #ebebe7;
    border-radius: 10px;
    width: 50%;
    height: 10px;
    padding: 10px;
}
.moneda:hover{
    background-color: aquamarine;
}

.metro{
    background-color: #ebebe7;
    border-radius: 10px;
    width: 50%;
    height: 10px;
    padding: 10px;
}
.metro:hover{
    background-color: aquamarine;
}

.Idioma{
    background-color: #ebebe7;
    border-radius: 10px;
    width: 50%;
    height: 10px;
    padding: 10px;
}
.Idioma:hover{
    background-color: aquamarine;
}

.hora{
    background-color: #ebebe7;
    border-radius: 10px;
    width: 50%;
    height: 10px;
    padding: 10px;
}
.hora:hover{
    background-color: aquamarine;
}

.voltaje{
    background-color: #ebebe7;
    border-radius: 10px;
    width: 50%;
    height: 10px;
    padding: 10px;
}
.voltaje:hover{
    background-color: aquamarine;
}

footer{
    width: 100%;
    height: 150px;
    background-color: black;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}
.redes{
    word-spacing: 100px;
    font-size: 25px;
    margin-top: 50px;
}
.Twitter{
    color: #ffffff;
}
.Twitter:hover{
    color: #d0ff00;
}
.Facebook{
    color: #ffffff;
}

.Facebook:hover{
    color: #d0ff00;
}
.Instagram{
    color: #ffffff;
}
.Instagram:hover{
    color: #d0ff00;
}

.boton1,.boton2,.boton3,.boton4,.boton5,.boton6{
    background-color: #d0ff00;
    border-radius: 5px;
    padding: 10px;
    ;
    
}
.boton1:hover,.boton2:hover,.boton3:hover,.boton4:hover,.boton5:hover,.boton6:hover{
    background-color: aqua;
    
}
img{
    border-radius: 10px;
}